#-----------------------------------------------------------------------
# initiate:   systemctl enable {{ oath_bind_listener }}.service
# start:      systemctl start {{ oath_bind_listener }}.service
# get status: systemctl status {{ oath_bind_listener }}.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description={{ oath_bind_listener }} - AE-DIR bind listener
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ aedir_python }} {{ aedir_sbin }}/{{ oath_bind_listener }}.py "{{ oath_ldap_socket_path }}" "{{ openldap_ldapi_uri|replace('%','%%') }}????x-saslmech=EXTERNAL"
User={{ oath_listener_user }}
Group={{ oath_listener_user }}
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile={{ oath_bind_listener }}
{% endif %}

[Install]
WantedBy=multi-user.target
