#-----------------------------------------------------------------------
# initiate:   systemctl enable oathenroll.service
# start:      systemctl start oathenroll.service
# get status: systemctl status oathenroll.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=oathenroll - OATH-LDAP enrollment web application
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONPATH={{ aedir_etc }}/oathenroll
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ uwsgi_paths[lsb_id].exec }} --strict --ini {{ aedir_etc }}/uwsgi/oathenroll.ini
User={{ oath_ldap_oathenroll_web_user }}
Group={{ oath_ldap_oathenroll_web_group }}
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile=oathenroll
{% endif %}

[Install]
WantedBy=multi-user.target
