# AppArmor profile for hotp_validator installed in virtual env {{ aedir_prefix }}
# {{ ansible_managed }}

#include <tunables/global>

profile {{ oath_bind_listener }} {

  #include <ae-dir/abstractions/oath_bind_listener>

  {{ aedir_etc }}/oath-master-keys/ r,
  {{ aedir_etc }}/oath-master-keys/* r,

}
