$def with ()
$var title: OATH Token Enrollment Service

<div id="content">

  <h1>Overview</h1>

  <p>
    As an <em>OATH-LDAP admin</em> you can invoke the following actions:
  </p>

  <ul>
    <!--li>
      <a href="register">Register OATH Token for a person</a>
    </li-->
    <li>
      <a href="reset">Reset OATH Token and request enrollment password</a>
    </li>
    <li>
      <a href="init">Initialize OATH Token with shared secret</a>
    </li>
  </ul>

  <ul class="tip">
    <li>
      OTP admins need their user password and
      accompanying active OTP token here!
    </li>
  </ul>

</div>
