$def with (message, serial='', token='', owner='', email='', enrollpw2='')
$var title: Initialize OATH Token

<div id="content">

  <h1>Initialize OATH Token</h1>

  <p>

    <p>
      A temporary password for token entry <strong>$serial</strong>
      was successfully set and sent to the owner via e-mail.
    </p>

    <p>
      Temporary enrollment password part #2:
    </p>

    <p>
      <strong>$enrollpw2</strong>
    </p>

    <table>
      <tr>
        <td>Token:</td>
        <td>$token</td>
      </tr>
      <tr>
        <td>Owner:</td>
        <td><a href="mailto:$email">$owner</a></td>
      </tr>
      <tr>
        <td>Owner's mail address:</td>
        <td><a href="mailto:$email">$email</a></td>
      </tr>
    </table>
  </p>

  <ul class="tip">
    <li>
      Make sure the token owner has access to a properly functioning
      enrollment device (special notebook).
    </li>
    <li>
      The 1st part of the temporary password was sent to the token
      owner via e-mail to <a href="mailto:$email">$email</a>.
    </li>
    <li>
      Please hand over 2nd part of the temporary initialization
      password displayed above to the token owner over a
      <strong>secure out-of-band channel</strong>.
    </li>
    <li>
      Please advice the token owner that the temporary password will
      be valid only for a few minutes. If password has expired you can
      simply request <a href="reset?serial=$serial">token reinitialization</a>
      again.
    </li>
  </ul>

</div>
