{% extends aedir_htdocs_layout %}

{% block head_title %}FAQ{% endblock %}
{% block head_pagedescription %}Frequently Asked Questions (and Answers){% endblock %}

{% block content %}
<ol>
  <li><a href="#general">General</a></li>
  <li><a href="#installation">Installation</a></li>
  <li><a href="#maintenance">Maintenance</a></li>
  <li><a href="#client-integration">Client integration</a></li>
  <li><a href="#security">Security and Privacy</a></li>
  <li><a href="#privacy">Privacy / Data Protection</a></li>
  <li><a href="#audit">Auditing</a></li>
</ol>

<h1 id="general">General</h1>

<ol>

  <li id="why">
    <p class="faq_q">
      Why yet another LDAP-based user management system?
    </p>
    <p class="faq_a">
      All other similar products/projects focus on making data easily
      available everywhere and therefore are not suitable for really strict
      security/confidentiality requirements. Also other systems do not have
      a distinct data model for person / multi-user-account relationship.
    </p>
  </li>

  <li id="name">
    <p class="faq_q">
      What's the official name of the project and why I see those strange characters?
    </p>
    <p class="faq_a">
      The official name is <strong>&AElig;-DIR</strong> to be
      distinguishable from any other project (and to challenge Unicode
      capabilities of software). <strong>AE-DIR</strong> is the official
      pure-ASCII representation.
      <br>
      Only capital letters are used in both representations when occuring in documentation.
      <br>
      Lower-cased letters are used for DNS names (e.g.
      <var>ae-dir-p1.example.com</var> and the default search base
      <var>{{ aedir_suffix }}</var>.
    </p>
  </li>

  <li id="complexity">
    <p class="faq_q">
      &AElig;-DIR seems complex.
      How to start with a simple setup for my very few systems?
    </p>
    <p class="faq_a">
      &AElig;-DIR is designed to scale down and up:<br>
      You can <a href="install.html">install</a> the system and start with
      one <a href="docs.html#schema-oc-aeZone">zone</a> and a single
      <a href="docs.html#schema-oc-aeSrvGroup">host/service group</a>
      for all your systems pointing to a single
      <a href="docs.html#schema-oc-aeGroup">user group</a>.
      Later you can extend that to your growing needs by adding more
      host/service and user groups and by moving hosts/services.
    </p>
  </li>

</ol>

<h1 id="installation">Installation</h1>

<ol>

  <li id="os">
    <p class="faq_q">
      Can &AElig;-DIR server run on <em>name-your-favourite-OS-here</em>?
    </p>
    <p class="faq_a">
      &AElig;-DIR is not limited to run on Linux. Provided you have
      packages of all the required software it could be installed on
      various OS platforms. But note that tweaking the automated
      <a href="install.html">ansible installation</a> to run on different
      platforms is much work.
    </p>
  </li>

  <li id="ldapserver">
    <p class="faq_q">
      Can I use another LDAP server software for &AElig;-DIR?
    </p>
    <p class="faq_a">
      No. &AElig;-DIR makes heavy use of
      <a href="docs.html#slapd.access">OpenLDAP's access control</a>.
      To best of my knowledge other LDAP server implementations do not
      provide similar powerful access control (despite by implementing
      custom server-side plugin). If you have different opinion/suggestion
      please let me know.
    </p>
  </li>

  <li id="openldap">
    <p class="faq_q">
      I prefer to install only packages shipped by my Linux
      (enterprise) distribution.
      Why are OpenLDAP packages from different repositories installed?
    </p>
    <p class="faq_a">
      &AElig;-DIR has quite a complex
      <a href="docs.html#slapd.conf">OpenLDAP configuration</a>
      which requires to have recent bug fix releases
      (see also
      <a href="https://www.openldap.org/faq/data/cache/1456.html"
         title="OpenLDAP Faq-O-Matic: Why is using the OpenLDAP server from a Linux distribution not recommended?">
         OpenLDAP FAQ-O-MATIC</a>).
    </p>
  </li>

  <li id="searchbase">
    <p class="faq_q">
      Can I use another search base than <em>ou=ae-dir</em>?
    </p>
    <p class="faq_a">
      Yes. You can set ansible variable <em>aedir_suffix</em> which is used
      in all ansible tasks and Jinja2 templates. But the characteristic
      attribute is limited to a set of common RDN attributes:
      <ul>
        <li>cn</li>
        <li>dc</li>
        <li>o</li>
        <li>ou</li>
      </ul>
    </p>
  </li>

  <li id="migration">
    <p class="faq_q">
      Can I migrate my current user management to &AElig;-DIR?
    </p>
    <p class="faq_a">
      This very much depends on your current deployment.
      Things to consider before migration:
      <ul>
        <li>Passwords (hashes)</li>
        <li>User names</li>
        <li>POSIX-IDs</li>
        <li>Custom schema used by your data</li>
        <li>Access control requirements</li>
        <li>Client capabilities and configuration</li>
        <li><a href="https://www.stroeder.com/impressum.html">Commercial support</a></li>
      </ul>
    </p>
  </li>

</ol>

<h1 id="maintenance">Maintenance</h1>

<ol>

  <li id="backup">
    <p class="faq_q">
      How to backup the data?
    </p>
    <p class="faq_a">
      On each <a href="docs.html#sys-provider">&AElig;-DIR provider</a> a
      CRON job exports the databases to LDIF files with command-line tool
      <a href="https://www.openldap.org/software/man.cgi?query=slapcat">slapcat(8)</a>
      (see also
      <a href="https://www.openldap.org/doc/admin24/maintenance.html"
         title="OpenLDAP Software 2.4 Administrator's Guide: Maintenance">
         OpenLDAP Admin Guide</a>).
      How often this happens and where the files are stored can be
      configured with ansible vars.
    </p>
  </li>

  <li id="api">
    <p class="faq_q">
      Is there an API for bulk operations?
    </p>
    <p class="faq_a">
      The official API for programming &AElig;-DIR is LDAPv3
      (<a href="https://tools.ietf.org/html/rfc4510">see RFC 4510</a>).
      Access control rules and constraints in
      <a href="docs.html#slapd.conf">OpenLDAP configuration</a>
      prevent your client <a href="docs.html#roles">role</a> to
      access/alter entries in an invalid way.
      <br>
      A ready-to-use module is available for <a href="python.html">Python</a>.
    </p>
  </li>

  <li id="delete">
    <p class="faq_q">
      I always get an error message <em>insufficientAccess</em> when I try
      to delete a user or a group. What's wrong?
    </p>
    <p class="faq_a">
      Nothing's wrong. It works as designed.<br>
      User names, group names and numeric POSIX Id must never be reused.
      This is enforced by unique constraints and therefore deletion of user
      and group entries is prevented by ACLs. Set the status to
      &quot;archived&quot; (2) to make the entries invisible even for the
      zone admins.
    </p>
  </li>

  <li id="reports">
    <p class="faq_q">
      How to report list of active users?
    </p>
    <p class="faq_a">
      <ol>
        <li>
          In web2ldap you can export search results as CSV or Excel files (see
          <a href="web2ldap.html#search-aeHost-export">example exporting with
          web2ldap</a>).
        </li>
        <li>
          Additionally there are two ready-to-use
          <a href="cli.html">command-line tools</a> which simply outputs CSV to
          <em>stdout</em> but can only be used by role
          <a href="docs.html#role-ae-admin">&AElig; Admin</a>.
        </li>
      </ol>
    </p>
  </li>

</ol>

<h1 id="client-integration">Client integration</h1>

<ol>

  <li id="client_examples">
    <p class="faq_q">
      Any client example configurations available?
    </p>
    <p class="faq_a">
      Yes. Check out the directory <em>client-examples/</em>.
    </p>
  </li>

  <li id="group_filter">
    <p class="faq_q">
      Why do the client examples not use group authorization (e.g.
      <var>memberOf</var> filter)?
    </p>
    <p class="faq_a">
      The goal is to keep client configuration dumb. This makes it possible
      to change access rights (solely by changing
      <a href="docs.html#er">entities' relationship</a>) in the directory
      without touching the client configuration.
    </p>
  </li>

  <li id="netgroup">
    <p class="faq_q">
      Is the <em>netgroup</em> map supported by &AElig;-DIR?
    </p>
    <p class="faq_a">
      Short answer: No!<br>
      Long answer:<br>
      &AElig;-DIR is designed to replace netgroups completely by leveraging
      <a href="docs.html#schema-oc-aeSrvGroup">host/service groups</a>
      referencing
      <a href="docs.html#schema-oc-aeGroup">user groups</a>
      as login groups (via attribute <em>aeLoginGroups</em>).
    </p>
  </li>

  <li id="nested_groups">
    <p class="faq_q">
      Are nested groups supported by &AElig;-DIR?
    </p>
    <p class="faq_a">
      No, because of bad performance. Furthermore you will loose
      oversight over nested groups sooner or later.
      Try understanding/leveraging the power
      <a href="docs.html#schema-oc-aeSrvGroup">host/service groups</a>
      referencing
      <a href="docs.html#schema-oc-aeGroup">user groups</a>
      which serves the same purpose in most practical cases.
    </p>
  </li>

  <li id="user_rights">
    <p class="faq_q">
      I'm too lazy to add groups etc.
      Can I directly assign rights to a user account?
    </p>
    <p class="faq_a">
      No! You always must add
      <a href="docs.html#schema-oc-aeSrvGroup">host/service groups</a>
      and assign the rights to them to
      <a href="docs.html#schema-oc-aeGroup">user groups</a>.
      Think about it a few minutes. It makes sense!
    </p>
  </li>

  <li id="gui_clients">
    <p class="faq_q">
      Can I use another LDAP GUI client (e.g. Apache Directory Studio)?
    </p>
    <p class="faq_a">
        While using any LDAP client (e.g. Apache Directory Studio) is
        certainly possible it will be rather uncomfortable for daily
        &AElig;-DIR maintenance resulting in a waste of your work time.

        <a href="web2ldap.html">web2ldap</a> installed on each &AElig;-DIR
        provider has special customization (LDIF and HTML templates, plugin
        module) which greatly helps users to just do the right thing.

        In opposite non-customized clients typically require lots of clicks
        even for simple tasks, and do not know about &AElig;-DIR schema, thus
        probably leading to errornous input data.
    </p>
  </li>

</ol>

<h1 id="security">Security</h1>

<ol>

  <li id="roles">
    <p class="faq_q">
      Does every application integrated with &AElig;-DIR stick to its fixed role model?
    </p>
    <p class="faq_a">
      No.<br>
      If you are using shared infrastructure components it is very
      useful to simply use the <a href="docs.html#roles">&AElig;-DIR
      roles</a> (e.g. <a href="docs.html#role-setup-admin">Setup Admin</a>)
      for access control in your infrastructure.<br>
      But if that model does not fit security requirements of a specific
      application you can simply maintain groups in &AElig;-DIR and map
      those to specific roles within your application just like with any
      other LDAP server.
    </p>
  </li>

  <li id="tls">
    <p class="faq_q">
      Can I setup a &AElig;-DIR test instance without having to issue TLS certs?
    </p>
    <p class="faq_a">
      No! In production you must use TLS anyway.
      So you should use your test environment to get familiar with it right
      from the start.
    </p>
  </li>

  <li id="impersonate">
    <p class="faq_q">
      Can I let admins impersonate as a user for testing some issues
      with the user's access rights?
    </p>
    <p class="faq_a">
      No! That's bad practice regarding audit logs!
      The admin should add a test user for himself with the very same
      groups membership and use this for testing.
    </p>
  </li>

  <li id="2fa-check">
    <p class="faq_q">
      When using two-factor authentication (2FA) is it possible to
      distinguish whether password or OTP input was wrong?
    </p>
    <p class="faq_a">
      No! Both of these authentication factors are checked at once and
      this succeeds or fails. &AElig;-DIR deliberately does not tell
      the user which authentication factor was wrong. This avoids the
      authentication factors being attacked separately.
    </p>
  </li>

</ol>

<h1 id="privacy">Privacy / Data Protection</h1>

<ol>

  <li id="gdpr">
    <p class="faq_q">
      So you <a href="#delete">cannot delete users</a>.
      How to comply to privacy / data protection rules, e.g.
      <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">EU GDPR</a>?
    </p>
    <p class="faq_a">
      <ol>
        <li>
          In default configuration the user names are generated as short
          random strings without personal naming information.
          So it's impossible to directly have a reference to a person just
          by looking at a username, e.g. by reviewing archived log files.
        </li>
        <li>
          The attribute <a href="docs.html#schema-at-aeStatus">aeStatus</a>
          is used to adjust visibility of person records and user accounts.
          This allows to preserve the data for enforcing global ID
          uniqueness and for complying to audit requirements while limiting
          access to a small group of people to meet privacy requirements.
        </li>
      </ol>
    </p>
  </li>

</ol>

<h1 id="audit">Auditing</h1>

<ol>

  <li id="owner">
    <p class="faq_q">
      How to find the owner of an object (entry)?
    </p>
    <p class="faq_a">
      Although widely used the term &quot;owner&quot; is pretty blurry in real-life.
      <br>
      In &AElig;-DIR each entry resides within a zone and zones are used
      for delegation. Therefore finding the respective
      <a href="docs.html#role-zone-admin">zone admin(s)</a> of the object's
      zone is a good approach to find the currently responsible
      &quot;owner(s)&quot;.
    </p>
  </li>

  <li id="priv-users">
    <p class="faq_q">
      How to find the privileged users?
    </p>
    <p class="faq_a">
      &quot;Privileged&quot; is yet another blurry term which
      oversimplifies access control to a single security class.
      <br>
      Basically access rights (for regular client access) are granted to
      user groups. So the current group membership of an account defines
      whether it has to be considered privileged. Note that the result is
      not a simple yes/no decision. The privileges have always to be
      reviewed carefully within a particular service context.
    </p>
  </li>


</ol>
{% endblock content %}
