{% extends aedir_htdocs_layout %}

{% block head_title %}Funny stuff{% endblock %}
{% block head_pagedescription %}Funny stuff related to this{% endblock %}

{% block content %}
<h1>xkcd</h1>

<ul>
  <li>
    <a href="https://www.xkcd.com/1497/">New Products</a>:
    &AElig;-DIR is not new technology&hellip;
  </li>
  <li>
    <a href="https://xkcd.com/936/">Password Strength</a>
  </li>
  <li>
    <a href="https://xkcd.com/1200/">Authorization</a>
  </li>
  <li>
    <a href="https://xkcd.com/1121/">Identity</a>
  </li>
  <li>
    <a href="https://xkcd.com/1209/">Encoding</a>:
    let's see how software deals with the &AElig;
  </li>
  <li>
    <a href="https://xkcd.com/1319/">Automation</a>
  </li>
</ul>
{% endblock content %}
