<!DOCTYPE html>
<html lang="en">

  <head>

    <title>&AElig;-DIR | {% block head_title %}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="&AElig;-DIR -- {% block head_pagedescription %}{% endblock %}">
    <meta name="keywords" content="&AElig;-DIR, OpenLDAP, IAM, access control">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="revisit-after" content="5 days">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-config" content="none">

    <link rel="stylesheet" type="text/css" href="css/ae-dir.css">

    <link rel="author" title="Kontakt" href="https://stroeder.com/impressum.html">
    <link rel="copyright" title="Impressum" href="https://stroeder.com/impressum.html">
    <link rel="start" title="Startseite" href=".">
    <link rel="contents" title="Inhaltsverzeichnis" href="sitemap.html">
    <link rel="index" title="Inhaltsverzeichnis" href="sitemap.html">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

  </head>

<body lang="en">

<a id="top"></a>

<header>
<div id="navigation">
  <a href="." rel="home" title="Jump to start page">&AElig;-DIR</a> /
  <a href="install.html" title="Installation how-to">Installation</a> /
  <a href="docs.html" title="Detailed technical documentation">Docs</a> /
  <a href="user.html" title="User guide">Usage</a> /
  <a href="apps.html" title="Application examples">Apps</a> /
  <a href="bcp.html" title="Best Current Practices / Recommendations">BCP</a> /
  <a href="faq.html" title="Frequently Asked Questions (and Answers)">FAQ</a> /
{% if aedir_main_provider_hostname=="demo.ae-dir.com" %}
  <a href="demo.html" title="Online demonstration">Demo</a> /
{% endif %}
  <a href="todo.html" title="Next steps / to-do list">Next</a>
</div>
</header>

<div id="content">

<p class="pagetitle">{{ self.head_title() }}</p>

{% block content %}
{% endblock content %}

</div>

<footer>
  <div id="footer">
    <p>
      <a href="#top">&uarr; TOP</a> //
      sponsored by <a href="https://stroeder.com">stroeder.com</a> //
    </p>
  </div>
</footer>

</body>
</html>
