{% extends aedir_htdocs_layout %}

{% block head_title %}User Guide -- OATH-LDAP enrollment{% endblock %}
{% block head_pagedescription %}User guide for OATH-LDAP enrollment{% endblock %}

{% block content %}
<p>
  <strong>Intended Audience:</strong>
  All persons acting as &AElig;-DIR OTP / OATH admins
</p>

<p>
  This document describes how to use the
  <a href="https://{{ aedir_main_provider_hostname }}/oath">OATH-LDAP enrollment service</a>
  which implements the following use-cases:
</p>
<ol>
  <li></li>
</ol>
{% endblock content %}
