{% extends aedir_htdocs_layout %}

{% block head_title %}User Guide -- password self-service{% endblock %}
{% block head_pagedescription %}User guide for password self-service{% endblock %}

{% block content %}
<p>
  <strong>Intended Audience:</strong>
  <br>
  All persons with an &AElig;-DIR personal user account
</p>

<p>
  This document describes how to use the
  <a href="https://{{ aedir_main_provider_hostname }}/pwd">&AElig;-DIR password self-service</a>
  which implements the following use-cases:
</p>
<ol>
  <li><a href="#changepw">Change own password</a></li>
  <li><a href="#checkpw">Check own password</a></li>
  <li><a href="#reset-procedure">Password reset process</a></li>
</ol>

<h1 id="changepw">Change own password</h1>

<p>
  This function allows a user to change his/her password of an &AElig;-DIR
  personal user account.
</p>

<p>
  Hints:
</p>
<ul>
  <li>
    You <strong>must not</strong> use old passwords
    (checked against password history).
  </li>
  <li>
    Your password MUST be sufficiently long (read your password policy).
  </li>
  <li>
    You cannot change your password again for a certain period of time
    after changing it (read your password policy).
  </li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">aeUser</a> entry exists for user.
  </li>
  <li>
    User knows user name and current password.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    Choose "Change" in the menu at the top of the password self-service web app:
    <a href="https://{{ aedir_main_provider_hostname }}/pwd/changepw">Change</a>
  </li>
  <li>
    A simple input form is displayed.
  </li>
  <li>
    Enter your user name, your old password and your new password twice.
  </li>
  <li>
    Press button
    <button class="web2ldap-submit-button">Set new password</button>
    to submit the data to the application.
  </li>
  <li>
    A message is displayed informing you whether the new password was set correctly.
    In case of an error the input form is displayed again.
  </li>
</ol>

<h1 id="checkpw">Check own password</h1>

<p>
  This function lets a user check his/her password of an &AElig;-DIR
  personal user account. Additionally it will also show how long a password
  is still valid and automatically redirect to
  <a href="#changepw">Change own password</a> if the password will expire
  soon.
</p>

<p>
  Hints:
</p>
<ul>
  <li>
    Especially you should use this <strong>before</strong> your on-call duty
    shift begins to check whether passwords of rarely used accounts for
    managing production systems are still valid!
  </li>
  <li>
    If your password is soon to expire then change it immediately!
  </li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">aeUser</a> entry exists for user.
  </li>
  <li>
    User knows user name and current password.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    Choose "Check" in the menu at the top of the password self-service web app:
    <a href="https://{{ aedir_main_provider_hostname }}/pwd/checkpw">Check</a>
  </li>
  <li>
    A simple input form is displayed.
  </li>
  <li>
    Enter your user name and your password.
  </li>
  <li>
    Press button
    <button class="web2ldap-submit-button">Check password</button>
    to submit the data to the application.
  </li>
  <li>
    A message is displayed informing you whether the password was correct
    and how long it is still valid.
  </li>
</ol>

<h1 id="reset-procedure">Password reset process</h1>

<p>
  If you forgot your old password or you need initial password for a new
  account you have to go through this two-step password reset process.
</p>

<h2 id="requestpw">Request password reset</h2>

<p>
  This function lets a user request a password reset in case the
  user does not know the current password anymore or the current
  password is expired.
</p>

<p>
  Hints:
</p>
<ul>
  <li>
    Starting the password reset procedure does <strong>not</strong>
    invalidate your current password.
  </li>
  <li>
    For security reasons the user needs help of a responsible
    <a href="docs.html#role-zone-admin">Zone Admin</a>
    to finish password reset procedure. Hence you should contact
    a zone admin now (e.g. by phone).
  </li>
  <li>
    This procedure does <strong>not</strong> work for personal user
    account serving as mailbox account (hen-and-egg problem)!
    Ask <a href="docs.html#role-zone-admin">Zone Admin</a> for
    password reset procedure in this case.
  </li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">aeUser</a> entry has been added for user.
  </li>
  <li>
    User knows user name and associated e-mail address..
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    Choose "Reset" in the menu at the top of the password self-service web app:
    <a href="https://{{ aedir_main_provider_hostname }}/pwd/requestpw">Reset</a>
  </li>
  <li>
    A simple input form is displayed.
  </li>
  <li>
    Enter your user name and the accompanying e-mail address.
  </li>
  <li>
    Press button
    <button class="web2ldap-submit-button">Request</button>
    to submit the data to the application.
  </li>
  <li>
    A message is displayed informing you that e-mail will be sent
    to the given address.
  </li>
  <li>
    you will be sent a new temporary password, check your mailbox now
  </li>
</ol>

<h2 id="resetpw">Finish password reset</h2>

<p>
  This function lets a user request finish password reset process
  and is typically invoked by clicking on the link in the password
  reset e-mail requested before.
</p>

<p>
  Hints:
</p>
<ul>
  <li>
    The temporary reset password is only valid for a couple of minutes.
  </li>
  <li>
     The 2nd part of the temporary reset password is given to you by
     the responsible <a href="docs.html#role-zone-admin">Zone Admin
     </a>. Contact him now!
  </li>
  <li>
    You <strong>must not</strong> use old passwords
    (checked against password history).
  </li>
  <li>
    Your password MUST be sufficiently long (read your password policy).
  </li>
  <li>
    You cannot change your password again for a certain period of time
    after changing it (read your password policy).
  </li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    1st part of temporary reset password has been received before via e-mail.
  </li>
  <li>
    2nd part of temporary reset password has been told to you by responsible
    zone admin (e.g. via phone).
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    Click link in the e-mail which already contains 1st part of 
    temporary reset password.
  </li>
  <li>
    A simple input form is displayed.
  </li>
  <li>
    Enter your user name (should be already set).
  </li>
  <li>
    Enter 1st part of temporary reset password (should be already set).
  </li>
  <li>
    Enter 2nd part of temporary reset password given to you by zone admin.
  </li>
  <li>
    Enter your new password twice.
  </li>
  <li>
    Press button
    <button class="web2ldap-submit-button">Set new password</button>
    to submit the data to the application.
  </li>
  <li>
    A message is displayed informing you whether the new password was set correctly.
    In case of an error the input form is displayed again.
  </li>
</ol>
{% endblock content %}
