{% extends aedir_htdocs_layout %}

{% block head_title %}Python scripting{% endblock %}
{% block head_pagedescription %}Scripting with python-aedir{% endblock %}

{% block content %}
<h1>python-aedir</h1>
<p>
  This module is based on module package
  <a href="https://pypi.python.org/pypi/ldap0">ldap0</a>
  and provides classes and functions useful for implementing login
  proxies with <a href="https://docs.python.org/2/">Python 2.x</a>.
</p>

<h2 id="download">Download and installation</h2>
<p>
  Available for download:
  <a href="https://pypi.python.org/pypi/aedir">aedir on PyPI</a>
</p>

<h2 id="examples">Examples</h2>
<p>
</p>
{% endblock content %}
