{% extends aedir_htdocs_layout %}

{% block head_title %}Next steps / to-do list{% endblock %}
{% block head_pagedescription %}To-do items, ideas, next steps{% endblock %}

{% block content %}

<p>
  In no particular order...
</p>

<ol>
  <li><a href="#sso">WebSSO</a></li>
  <li><a href="#pki">X.509 PKI</a></li>
  <li><a href="#devops">DevOps tooling</a></li>
  <li><a href="#logging">Logging</a></li>
  <li><a href="#pxe">PXE/DHCP/TFTP integration</a></li>
  <li><a href="#nac">Network Access Control (NAC)</a></li>
  <li><a href="#radius">RADIUS</a></li>
  <li><a href="#dns">DNS</a></li>
  <li><a href="#ui">User Interface</a></li>
  <li><a href="#mod-security">ModSecurity</a></li>
  <li><a href="#cli">Command-line tool</a></li>
  <li><a href="#browser">Browser integration/security</a></li>
  <li><a href="#python3">Python 3.x</a></li>
  <li><a href="#compliance">Compliance checks</a></li>
</ol>

<h1 id="sso">WebSSO</h1>
<p>
  Custom IdP implementation supporting SAML 2.0, OAuth 2.0, Open ID Connect
  checking login relationship of user and service based on
  <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup - aeLoginGroups</a>.
</p>
<p>
  Python modules to be used:
  <a href="https://pypi.python.org/pypi/pysaml2">pysaml2</a>,
  <a href="https://pypi.python.org/pypi/oic">oic</a>,
  <a href="https://pypi.python.org/pypi/pyop">pyop</a>
</p>

<h1 id="pki">X.509 PKI</h1>
<ul>
  <li>
    Issue server certs to
    <a href="docs.html#schema-oc-aeHost">aeHost</a>,
    <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>,
    <a href="docs.html#schema-oc-aeService">aeService</a> or
    <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a>
    based on authorization of role
    <a href="docs.html#role-setup-admins">Setup Admins</a>
  </li>
  <li>
    see also <a href="https://ldapcon.org/2017/x-509-pki-ra-schema-for-ae-dir/">
    LDAPcon 2017 talk: X.509 PKI RA schema for Æ-DIR</a>
  </li>
  <li>
    direct ansible integration for server cert enrollment
  </li>
  <li>
    X.509 cert enrollment for <a href="docs.html#schema-oc-aeUser">aeUser</a>
    with <a href="#mfa">multi-factor authc</a>
  </li>
  <li>
    use X.509 certs as SSH authorized keys instead of attribute
    <var>sshPublicKey</var>
  </li>
  <li>
    remote CA keys
    (e.g. based on <a href="https://github.com/leifj/pyeleven">pyeleven</a>
    and <a href="https://github.com/LudovicRousseau/PyKCS11">PyKCS11</a>)
  </li>
  <li>
    Are there ready-to-use PKI backend solutions in Python?
    <li>
      <a href="https://serverpki.readthedocs.io/en/latest/">serverPKI</a>
    </li>
    <li>
      <a href="https://github.com/laurivosandi/certidude">certidude</a>
    </li>
  </li>
</ul>

<h1 id="devops">DevOps tooling</h1>
<ul>
  <li>
    Scripts for local <em>slapd-ldap</em> instance used as admin proxy for
    bulk operations from ansible plays, dynamic ansible inventory based on
    &AElig;-DIR entries or similar.
  </li>
  <li>
    proper keyring support for tools (inspired by Mirko's
    <a href="https://gist.github.com/mfriedenhagen/e488235d732b7becda81#file-password_from_keyring-py">password_from_keyring-py</a>)
  </li>
</ul>

<h2 id="ansible">ansible</h2>
<ul>
  <li>
    Automated authentication configuration (set <var>userPassword</var>) for
    <a href="docs.html#schema-oc-aeHost">aeHost</a> and
    <a href="docs.html#schema-oc-aeService">aeService</a>
  </li>
  <li>
    <a href="https://docs.ansible.com/ansible/developing_inventory.html">
    Dynamic inventory</a> module for accessing attributes in
    &AElig;-DIR entries
  </li>
</ul>

<h1 id="logging">Logging</h1>
<ul>
  <li>
    Log performance data as
    <a href="https://docs.graylog.org/en/2.2/pages/gelf.html">Graylog Extended Log Format (GELF)</a>
  </li>
  <li>
    The web applications should use Python's <em>logging module</em>
    and file <em>ae-logging.conf</em>
  </li>
  <li>
    Add
    <a href="https://github.com/blue-yonder/cee_syslog_handler">cee_syslog_handler</a>
    in file <em>ae-logging.conf</em>
  </li>
</ul>

<h1 id="pxe">PXE/DHCP/TFTP integration</h1>
<ul>
  <li>
    Extend one of the following Python demon implementations to look up
    correct boot config in &AElig;-DIR:
    <ul>
      <li>
        <a href="https://github.com/mpetazzoni/ptftpd">ptftpd</a> (GPLv3)
      </li>
      <li>
        <a href="https://github.com/psychomario/PyPXE">PyPXE</a> (MIT License)
      </li>
    </ul>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h1 id="nac">Network Access Control (NAC)</h1>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IEEE_802.1X">IEEE 802.1X</a>
  </li>
  <li>
    <a href="https://libvirt.org/formatnwfilter.html">libvirt network filters</a>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h1 id="radius">RADIUS</h1>
<p>
  Support for RADIUS with dynamic RADIUS client configuration
  (see also <a href="#nac">NAC</a>).
</p>
<ul>
  <li>
    <a href="https://freeradius.org/">FreeRADIUS</a>:
    has many features, basic LDAP authc out-of-the-box
  </li>
  <li>
    <a href="http://www.bsdradius.org/">BSDRadius</a>:
    needs own module
  </li>
  <li>
    thin implementation based on
    <a href="https://github.com/wichert/pyrad">pyrad</a>
  </li>
</ul>

<h1 id="dns">DNS</h1>
<ul>
  <li>
    use PowerDNS to serve attributes as DNS RRs to augment regular DNS service:
    <ul>
      <li><a href="docs.html#schema-oc-aeHost">aeHost</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeZone">aeZone</a> (SOA)</li>
    </ul>
  </li>
  <li>
    <a href="http://jpmens.net/2015/11/03/powerdns-with-the-remote-back-end-and-dnssec/">
    use remote backend (preferrably with DNSSEC)</a> via
    <a href="https://github.com/cmouse/pdns-remotebackend-python">pdns-remotebackend-python</a>
  </li>
</ul>

<h1 id="ui">User Interface</h1>
<ul>
  <li>
    specific web application for administrative use-cases
  </li>
  <li>
    Python / flask / WTForms&hellip;
  </li>
  <li>
    Simple reporting use-cases (expired objects etc.).
  </li>
  <li>
    Graph reporting of data structures in a zone.
  </li>
</ul>

<h1 id="mod-security">ModSecurity</h1>
<p>
  Define a ruleset for <a href="https://www.modsecurity.org/">ModSecurity</a>.
</p>

<h1 id="cli">Command-line tool</h1>
<ul>
  <li>
    Consolidate various command-line tools into one tool with sub-commands
    within Python module package <a href="python.html">aedir</a>.
  </li>
  <li>
    Implement following use-cases:
    <ul>
      <li>Add <var>aeHost</var> entries</li>
      <li>Set password (replace <var>ae-passwd.py</var>)</li>
    </ul>
  </li>
</ul>

<h1 id="browser">Browser integration/security</h1>
<ul>
  <li>
    Make use of <em>Subresource Integrity</em> either with
    ansible-generated hashes or on-the-fly-generation in the web app(s):
    <ul>
      <li>
        <a href="https://www.w3.org/TR/SRI/">Subresource Integrity - W3C Recommendation</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity">
          Using Subresource Integrity | Mozilla Developer Network (MDN)</a>
      </li>
      <li>
        <a href="https://caniuse.com/subresource-integrity">
          Browser support (caniuse.com)</a>
      </li>
    </ul>
  </li>
</ul>

<h1 id="python3">Python 3.x</h1>
<p>Possible LDAP modules with support for Python 3.x:</p>
<table>
  <tr>
    <th>Module</th>
    <th>License</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td><a href="https://github.com/cannatag/ldap3">ldap3</a></td>
    <td>LGPLv3</td>
    <td>
      <ul>
        <li>supports Python 2.7 and 3.4+</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://github.com/noirello/bonsai">bonsai</a></td>
    <td>MIT</td>
    <td>
      <ul>
        <li>only Python 3.4+</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="https://pypi.python.org/pypi/ldap0">ldap0</a></td>
    <td>Python-style</td>
    <td>
      <ul>
        <li>needs work to support Python 3</li>
      </ul>
    </td>
  </tr>
</table>

<h1 id="compliance">Compliance checks</h1>
<p>Prepare compliance statements:</p>
<ul>
  <li>
    <a href="https://benchmarks.cisecurity.org/downloads/latest/">CIS benchmarks</a>
  </li>
  <li>
    <a href="https://www.bsi.bund.de/DE/Themen/ITGrundschutz/ITGrundschutzKataloge/Inhalt/_content/baust/b05/b05020.html">BSI Grundschutz</a>
  </li>
</ul>
{% endblock content %}
