#!{{ aedir_python }}
# -*- coding: utf-8 -*-
"""
Generates a report of aePerson entries referenced by active aeUser entries
"""

from __future__ import absolute_import

__version__ = '0.0.2'

import sys, os, csv, pprint

# set LDAPRC env var *before* importing ldap
os.environ['LDAPRC'] = '/opt/ae-dir/etc/ldap.conf'
import ldap0
import aedir
from ldap0.controls.deref import DereferenceControl

PYLDAP_TRACE_LEVEL = 0

USER_ATTRS = [
    '1.1'
]

DEREF_PERSON_ATTRS = [
    'sn',
    'givenName',
    'cn',
    'mail',
    'employeeNumber',
    'telephoneNumber',
    'mobile',
    'homePhone',
    'aeDept',
    'ou',
    'departmentNumber',
    'o',
    'street',
    'l',
    'c',
]

DEREF_CONTROL = DereferenceControl(
    True,
    {
        'aePerson': DEREF_PERSON_ATTRS,
    }
)


#---------------------------------------------------------------------------
# main()
#---------------------------------------------------------------------------

ldap0._trace_level = PYLDAP_TRACE_LEVEL

ldap_conn = aedir.AEDirObject(None, trace_level=PYLDAP_TRACE_LEVEL)

msg_id = ldap_conn.search(
    ldap_conn.find_search_base(),
    ldap0.SCOPE_SUBTREE,
    '(&(objectClass=aeUser)(aeStatus=0))',
    attrlist=USER_ATTRS,
    serverctrls = [DEREF_CONTROL],
)

person_dict = {}

for res_type, res_data, res_msgid, res_controls in ldap_conn.results(
    msg_id,
    add_ctrls=1
):
    for dn, entry, controls in res_data:
        # process dn and entry
        if controls:
            deref_control = controls[0]
            deref_dn, deref_entry = deref_control.derefRes['aePerson'][0]
            person_dict[deref_dn.lower()] = dict([
                (at,'|'.join(av))
                for at,av in deref_entry.items()
            ])

csv_writer = csv.DictWriter(
    sys.stdout,
    DEREF_PERSON_ATTRS,
    dialect='excel'
)
csv_writer.writerow(
    dict([
        (at, at)
        for at in DEREF_PERSON_ATTRS
    ])
)
csv_writer.writerows(person_dict.values())
