#!{{ aedir_python }}
# -*- coding: utf-8 -*-
"""
Generates a report of active aeUser entries and their aePerson attributes
"""

from __future__ import absolute_import

__version__ = '0.0.2'

import sys
import os
import csv

# set LDAPRC env var *before* importing ldap
os.environ['LDAPRC'] = '/opt/ae-dir/etc/ldap.conf'
import ldap0
import aedir
from ldap0.controls.deref import DereferenceControl

PYLDAP_TRACE_LEVEL = 0

USER_ATTRS = [
    'uid',
    'uidNumber',
    'entryUUID',
    'aeTicketId',
    'description',
    'memberOf',
    'aeNotBefore',
    'aeNotAfter',
    'pwdChangedTime',
    'createTimestamp',
    'modifyTimestamp',
]

DEREF_PERSON_ATTRS = [
    'sn',
    'givenName',
    'cn',
    'mail',
    'employeeNumber',
    'employeeType',
    'telephoneNumber',
    'mobile',
    'homePhone',
    'aeDept',
    'ou',
    'departmentNumber',
    'o',
    'street',
    'l',
    'c',
]

DEREF_CONTROL = DereferenceControl(
    True,
    {
        'aePerson': DEREF_PERSON_ATTRS,
    }
)

VIRTUAL_ATTRS = [
    'aeZoneName',
]

#---------------------------------------------------------------------------
# main()
#---------------------------------------------------------------------------

ldap0._trace_level = PYLDAP_TRACE_LEVEL

ldap_conn = aedir.AEDirObject(None, trace_level=PYLDAP_TRACE_LEVEL)

aedir_search_base = ldap_conn.find_search_base()

msg_id = ldap_conn.search(
    aedir_search_base,
    ldap0.SCOPE_SUBTREE,
    '(&(objectClass=aeUser)(aeStatus=0))',
    attrlist=USER_ATTRS,
    serverctrls = [DEREF_CONTROL],
)

user_dict = {}

for res_type, res_data, res_msgid, res_controls in ldap_conn.results(
    msg_id,
    add_ctrls=1
):
    for dn, entry, controls in res_data:
        entry['aeZoneName'] = [aedir.extract_zone(dn, aeroot_dn=aedir_search_base)]
        user_dict[dn] = dict([
            (at,'|'.join(av))
            for at,av in entry.items()
        ])
        # process dn and entry
        if controls:
            deref_control = controls[0]
            deref_dn, deref_entry = deref_control.derefRes['aePerson'][0]
            user_dict[dn].update(dict([
                (at,'|'.join(av))
                for at,av in deref_entry.items()
            ]))

COLUMN_ATTRS = USER_ATTRS+DEREF_PERSON_ATTRS+VIRTUAL_ATTRS

csv_writer = csv.DictWriter(sys.stdout, COLUMN_ATTRS, dialect='excel')
csv_writer.writerow(
    dict([
        (at, at)
        for at in COLUMN_ATTRS
    ])
)
csv_writer.writerows(user_dict.values())
