<h1>&AElig;-DIR service/tool account (aeService)</h1>

<p>
  Documentation:
  <a href="/docs.html#schema-oc-aeService">Schema</a> /
  <a href="/web2ldap.html#oc-aeService">How-To</a>
</p>

<fieldset>
  <legend>Required input</legend>
  <table>
    <tr>
      <td>User name (uid):</td>
      <td>%(uid)s</td>
    </tr>
    <tr>
      <td>Full name (cn):</td>
      <td>%(cn)s</td>
    </tr>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Expiry Status (aeExpiryStatus):</td>
      <td>%(aeExpiryStatus)s</td>
    </tr>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Optional input</legend>
  <table>
    <tr>
      <td>Ticket no. last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>
        <dl>
          <dt>from</dt>
          <dd>%(aeNotBefore)s</dd>
          <dt>until</dt>
          <dd>%(aeNotAfter)s</dd>
        </dl>
      </td>
    </tr>
    <tr>
      <td>Tag(s) (aeTag):</td>
      <td>%(aeTag)s</td>
    </tr>
    <tr>
      <td>On host(s):</td>
      <td>%(aeHost)s</td>
    </tr>
    <tr>
      <td>See also DN (seeAlso):</td>
      <td>%(seeAlso)s</td>
    </tr>
    <tr>
      <td>SSH public key(s) (sshPublicKey)</td>
      <td>%(sshPublicKey)s</td>
    </tr>
    <tr>
      <td>SSH key permissions (aeSSHPermissions)</td>
      <td>%(aeSSHPermissions)s</td>
    </tr>
    <tr title="IP address(es) from where to expect logins">
      <td>Remote login hosts (aeRemoteHost):</td>
      <td>%(aeRemoteHost)s</td>
    </tr>
    <tr>
      <td>Additional service group(s) (aeSrvGroup):</td>
      <td>%(aeSrvGroup)s</td>
    </tr>
  </table>
</fieldset>
