<h1>&AElig;-DIR department</h1>

<p>
  Documentation:
  <a href="/docs.html#schema-oc-aeDept">Schema</a> /
  <a href="/web2ldap.html#oc-aeDept">How-To</a>
</p>

<fieldset>
  <legend>Organizational information</legend>
  <table>
    <tr>
      <td>Department number:</td>
      <td>%(departmentNumber)s</td>
    </tr>
    <tr>
      <td>Organizational unit name (ou):</td>
      <td>%(ou)s</td>
    </tr>
    <tr>
      <td>Manager:</td>
      <td>%(Manager)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Meta</legend>
  <table>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Expiry Status (aeExpiryStatus):</td>
      <td>%(aeExpiryStatus)s</td>
    </tr>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Ticket no. last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>
        <dl>
          <dt>from</dt>
          <dd>%(aeNotBefore)s</dd>
          <dt>until</dt>
          <dd>%(aeNotAfter)s</dd>
        </dl>
      </td>
    </tr>
    <tr>
      <td>Tag(s) (aeTag):</td>
      <td>%(aeTag)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Address</legend>
  <table>
    <tr>
      <td>Street:</td>
      <td>%(streetAddress)s</td>
    </tr>
    <tr>
      <td>Postal Code:</td>
      <td>%(postalCode)s</td>
    </tr>
    <tr>
      <td>Location (l):</td>
      <td>%(l)s</td>
    </tr>
    <tr>
      <td>State (st):</td>
      <td>%(st)s</td>
    </tr>
    <tr>
      <td>Postal Address:</td>
      <td>%(postalAddress)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Phone Numbers</legend>
  <table>
    <tr>
      <td>Telephone:</td>
      <td>%(telephoneNumber)s</td>
    </tr>
    <tr>
      <td>FAX (facsimileTelephoneNumber):</td>
      <td>%(facsimileTelephoneNumber)s</td>
    </tr>
  </table>
</fieldset>

<!--hidden input fields for auto-generated values-->
%(displayName)s
