<h1>&AElig;-DIR mail group (aeMailGroup)</h1>

<p>
  Documentation:
  <a href="/docs.html#schema-oc-aeMailGroup">Schema</a> /
  <a href="/web2ldap.html#oc-aeMailGroup">How-To</a>
</p>

<fieldset>
  <legend>General</legend>
  <table>
    <tr>
      <td>Name of group (cn):</td>
      <td>%(cn)s</td>
    </tr>
    <tr>
      <td>E-mail address (mail):</td>
      <td>%(mail)s</td>
    </tr>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Expiry Status (aeExpiryStatus):</td>
      <td>%(aeExpiryStatus)s</td>
    </tr>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Ticket no. last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Member zones(s) (aeMemberZone):</td>
      <td>%(aeMemberZone)s</td>
    </tr>
    <tr>
      <td>Associated department(s):</td>
      <td>%(aeDept)s</td>
    </tr>
    <tr>
      <td>Associated location(s) (aeLocation):</td>
      <td>%(aeLocation)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>
        <dl>
          <dt>from</dt>
          <dd>%(aeNotBefore)s</dd>
          <dt>until</dt>
          <dd>%(aeNotAfter)s</dd>
        </dl>
      </td>
    </tr>
    <tr>
      <td>Tag(s) (aeTag):</td>
      <td>%(aeTag)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Group members</legend>
  <p>%(member)s</p>
</fieldset>

<!--hidden input fields for auto-generated values-->
%(rfc822MailMember)s
