<h1>&AElig;-DIR zone <em>%(cn)s</em></h1>

<p class="EntryDN">%(entryDN)s</p>
<p>%(structuralObjectClass)s</p>

<table>
  <tr>
    <td>Zone name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
  <tr>
    <td>Intended purpose (description):</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Ticket no. last change (aeTicketId):</td>
    <td>%(aeTicketId)s</td>
  </tr>
  <tr>
    <td>Associated department(s) (aeDept):</td>
    <td>%(aeDept)s</td>
  </tr>
    <tr>
      <td>Associated location(s) (aeLocation):</td>
      <td>%(aeLocation)s</td>
    </tr>
  <tr>
    <td>Validity period:</td>
    <td>
      <dl>
        <dt>from (aeNotBefore)</dt>
        <dd>%(aeNotBefore)s</dd>
        <dt>until (aeNotAfter)</dt>
        <dd>%(aeNotAfter)s</dd>
      </dl>
    </td>
  </tr>
  <tr>
    <td>Tag(s) (aeTag):</td>
    <td>%(aeTag)s</td>
  </tr>
  <tr>
    <td>Zone admin group(s) (aeZoneAdmins):</td>
    <td>%(aeZoneAdmins)s</td>
  </tr>
  <tr>
    <td>Zone auditor group(s) (aeZoneAuditors):</td>
    <td>%(aeZoneAuditors)s</td>
  </tr>
  <tr>
    <td>Password admin group(s) (aePasswordAdmins):</td>
    <td>%(aePasswordAdmins)s</td>
  </tr>
  <tr>
    <td>Address book user group(s) (aeABAccessGroups):</td>
    <td>%(aeABAccessGroups)s</td>
  </tr>
</table>
