#-----------------------------------------------------------------------
# initiate:   systemctl enable ae-apache.service
# start:      systemctl start ae-apache.service
# get status: systemctl status ae-apache.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=AE-DIR web server
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=APACHE_PID_FILE={{ apache_pid_file }}
PIDFile={{ apache_pid_file }}
User=root
Group=root
ExecStart={{ apache2_config[lsb_id].httpd_exec }} -DSYSTEMD -DFOREGROUND -f {{ apache_conf }} -k start       
ExecReload={{ apache2_config[lsb_id].httpd_exec }} -DSYSTEMD -DFOREGROUND -f {{ apache_conf }} -k graceful
ExecStop={{ apache2_config[lsb_id].httpd_exec }} -DSYSTEMD -DFOREGROUND -f {{ apache_conf }} -k graceful-stop
KillMode=mixed
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_KILL
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_KILL
MemoryDenyWriteExecute=yes
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile=ae-apache
{% endif %}

[Install]
WantedBy=multi-user.target
