#-----------------------------------------------------------------------
# Apache configuration for AE-DIR provider (web2ldap etc.)
# - overrides configuration of your Linux distribution
# - hard-coded configuration (loading modules etc.)
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

# load required Apache modules
{% for mod in apache2_config[lsb_id].modules %}
LoadModule {{ mod }}_module {{ apache2_config[lsb_id].mod_dir }}/mod_{{ mod }}.so
{% endfor %}

ServerTokens ProductOnly
ServerAdmin {{ apache_server_admin }}
ServerSignature EMail
ServerName {{ web_service_fqdn }}

# MIME-Types initialisieren
TypesConfig /etc/mime.types

# where to send error log messages (e.g. web2ldap traceback of unhandled exceptions)
ErrorLog {{ apache_error_log }}
# At least 'notice' is required to get error messages written by
# applications to stderr (e.g. web2ldap)
LogLevel {{ apache_log_level }}

# disable ETag response header
FileETag None

# disable TRACE requests
TraceEnable off

{% if apache_pid_file!="" %}
PidFile {{ apache_pid_file }}
{% endif %}

Timeout 300

# Parameter fuer keep-alive
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

StartServers 5
<IfModule prefork.c>
MinSpareServers 2
MaxSpareServers 10
</IfModule>

MaxRequestWorkers 50
MaxConnectionsPerChild 10000

User {{ apache_user }}
Group {{ apache_group }}
Suexec Off

HostnameLookups Off

LogFormat "{{ apache_log_format }}" apache_log_format

AllowEncodedSlashes Off
AddDefaultCharset Off

# for non-SSL vhost
Listen 0.0.0.0:80
# for SSL vhost
Listen 0.0.0.0:443

# SSL Session Resumption
SSLSessionCache        shmcb:{{ apache2_config[lsb_id].run_dir }}/ssl_scache(512000)
SSLSessionCacheTimeout  7200
SSLRandomSeed          startup file:/dev/urandom  512
SSLRandomSeed          connect builtin

# Default headers always sent
Header always set Strict-Transport-Security "max-age=15768000 ; includeSubDomains"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "deny"
Header always set Frame-Options "DENY"
Header always set Content-Security-Policy "child-src 'none'; connect-src 'none'; default-src 'none'; font-src 'self'; form-action 'self'; frame-ancestors 'none'; frame-src 'none'; img-src 'self' data:; script-src 'none'; style-src 'self';"
Header always set Referrer-Policy "same-origin"

ProxyRequests Off
ProxyPreserveHost On

<VirtualHost _default_:80>

  RedirectPermanent / https://{{ web_service_fqdn }}/

</VirtualHost>

<VirtualHost _default_:443>

  DirectoryIndex index.html index.xhtml index.htm

  CustomLog {{ apache_access_log }} apache_log_format

  SSLEngine on

  SSLCACertificateFile {{ apache_cacert_pathname }}
  SSLCertificateFile {{ apache_cert_pathname }}
  SSLCertificateKeyFile {{ apache_key_pathname }}

  # Optionally ask for client cert
#  SSLCARevocationFile /etc/ssl/certs/crl-bundle.pem
#  SSLVerifyClient optional
#  SSLVerifyDepth 2

  SSLProtocol {{ apache_ssl_protocol }}
  SSLCipherSuite {{ apache_ssl_cipher_suite }}

  # do not use .htaccess files
  AccessFileName .htaccess-this-does-not-exist

  #---------------------------------------------------------------------
  # htdocs/
  #---------------------------------------------------------------------

  DocumentRoot "{{ web_document_root }}"
  <Directory {{ web_document_root }}>
    # do not use .htaccess files
    AllowOverride None

    Options -Indexes
    DirectoryIndex ae-dir.html
    AddType text/html .html
    AddType text/plain .txt .log .py .schema
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript image/svg+xml

    <Limit GET POST>
{% for require in apache_htdocs_requires %}
      Require {{ require }}
{% endfor %}
    </Limit>
  </Directory>

  Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"

  #---------------------------------------------------------------------
  # web2ldap
  #---------------------------------------------------------------------


  <Location /web2ldap>
    ProxyPass unix:{{ aedir_rundir }}/uwsgi/web2ldap/web2ldap.sock|uwsgi://web2ldap/
    # Tell mod_ssl to set the SSL standard env vars
    SSLOptions +StdEnvVars
    <Limit GET POST>
{% for require in apache_web2ldap_requires %}
      Require {{ require }}
{% endfor %}
    </Limit>
  </Location>

  # CSS files for web2ldap
  Alias /css/web2ldap {{ web2ldapcnf_prefix }}/css
  <Location /css/web2ldap>
    <Limit GET>
{% for require in apache_web2ldap_requires %}
      Require {{ require }}
{% endfor %}
    </Limit>
  </Location>

  #----------------------------------------------------------------------
  # Æ-DIR password self-service web application (reverse proxy)
  #----------------------------------------------------------------------

  RedirectPermanent /pwd /pwd/
  <Location /pwd/>
    ProxyPass unix:{{ aedir_rundir }}/uwsgi/aedirpwd/aedirpwd.sock|uwsgi://aedirpwd/pwd/
    <Limit GET POST>
{% for require in apache_pwd_requires %}
      Require {{ require }}
{% endfor %}
    </Limit>
  </Location>

{% if oath_ldap_enabled==True %}
  #----------------------------------------------------------------------
  # OATH-LDAP enrollment web application (reverse proxy)
  #----------------------------------------------------------------------

  RedirectPermanent /oath /oath/
  <Location /oath/>
    ProxyPass unix:{{ aedir_rundir }}/uwsgi/oathenroll/oathenroll.sock|uwsgi://oath_enroll/oath/
    <Limit GET POST>
{% for require in apache_oath_requires %}
      Require {{ require }}
{% endfor %}
    </Limit>
  </Location>
{% endif %}

</VirtualHost>
