#-----------------------------------------------------------------------
# initiate:   systemctl enable passmod.service
# start:      systemctl start passmod.service
# get status: systemctl status passmod.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=aedirpwd - Password change interceptor listener
Requires=network.target
After=network.target

[Service]
Type=simple
Environment="LDAPTLS_CACERT={{ aedir_pwsync_cacert_pathname }}"
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
ExecStart={{ aedir_python }} {{ aedir_sbin }}/passmod.py "{{ aedir_pwsync_socket_path }}" "{{ openldap_ldapi_uri|replace('%','%%') }}????x-saslmech=EXTERNAL" "{{ aedir_pwsync_targeturl }}" "{{ aedir_pwsync_targetpwfile }}"
User={{ aedir_pwsync_listener_user }}
Group={{ aedir_pwsync_listener_user }}
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
