dn: uid=
objectClass: account
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: aeObject
objectClass: aeUser
objectClass: posixAccount
objectClass: ldapPublicKey
{% if oath_ldap_enabled==True %}
objectClass: oathUser
objectClass: oathHOTPUser
{% endif %}
aeStatus: 0
{% if 'aeUser' in ae_expiry_status_defaults %}
aeExpiryStatus: {{ ae_expiry_status_defaults.aeUser }}
{% endif %}
loginShell: /bin/bash
pwdPolicySubentry: cn=ppolicy-users,cn=ae,{{ aedir_suffix }}
aeNotBefore: now
aeTag: pub-tag-no-welcome-yet

