# AppArmor abstraction for Python scripts installed in virtual env {{ aedir_prefix }}
# {{ ansible_managed }}

  #include <ae-dir/abstractions/base>
  #include <ae-dir/abstractions/nameservice>
  #include <abstractions/python>

  #include <ae-dir/abstractions/ldapclient>

  /sbin/ldconfig ix,

  # Python and its modules
  {{ aedir_python.split(' ', 1)[0] }} ix,
  {{ aedir_python_sitepackages }}/ r,
  {{ aedir_python_sitepackages }}/** r,
  {{ aedir_prefix }}/lib/python{{ aedir_python_version[lsb_id] }}/orig-prefix.txt r,
  {{ aedir_prefix }}/lib/python{{ aedir_python_version[lsb_id] }}/**.py{,c,o} r,
  {{ aedir_prefix }}/lib/python{{ aedir_python_version[lsb_id] }}/**.so* rm,

  # Python logging config file
  {{ aedir_etc }}/ae-logging.conf r,
