# AppArmor abstraction for all Python web apps started via uwsgi
# {{ ansible_managed }}

  #include <ae-dir/abstractions/python>

  # we need MIME types
  /etc/mime.types r,

  # uwsgi needs to look at mounts
  @{PROC}/filesystems r,

  # write temporary files
  /tmp/ rw,
  owner /tmp/** rwkl,

  # for loading the Python 2.7 plugin
  {{ uwsgi_paths[lsb_id].python_plugin }} rm,

  deny /bin/bash r,

  @{PROC}/sys/net/core/somaxconn r,
