body {
  margin:0;
  padding:0;
  border:0;
  background-color:#ffffff;
  font-family:sans-serif;
  color:#202020;
  width:100%;
}

#content {
  padding:0.3em;
  background-color:#ffffff;
  width:95%;
  overflow-x:auto;
  -ms-overflow-x:auto;
  overflow-y:auto;
  -ms-overflow-y:auto;
}

#navigation {
  top:0;
  width:100%;
  color:#f0f0f0;
  background-color:#686868;
  border-top:0.25em #e63900 solid;
  border-bottom:0.25em #ee7811 solid;
  padding:0.7em;
  float:left;
  font-size:1.3em;
  font-weight:bold;
  margin:0em;
}

#navigation a {
  color:#ffffff;
  text-decoration:none;
}

#navigation a:hover {
  text-decoration:underline;
}

#navigation a:active {
  text-decoration:underline;
}

#footer {
  width:100%;
  border-top:1px #202020 solid;
  margin-top:2em;
  margin:0;
  padding:0.5em;
  font-size:0.8em;
}

p.pagetitle,p.pagesubtitle,h1,h2,h3,h4 {
  font-weight:bold;
}

h1:before {
  content: counter(h1counter) ".\0000a0";
}

h2:before {
  content: counter(h1counter) "." counter(h2counter) ".\0000a0";
}

h3:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0";
}

h4:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0";
}

p.pagetitle {
  font-size:1.5em;
  padding-bottom:0.3em;
  counter-reset: h1counter;
  margin-left:0;
}

p.pagesubtitle {
  font-size:1.2em;
  padding-bottom:0.1em;
  margin-left:0;
}

h1 {
  font-size:1.3em;
  padding-bottom:0.2em;
  counter-increment: h1counter;
  counter-reset: h2counter;
}

h2 {
  font-size:1.2em;
  padding-bottom:0.1em;
  counter-increment: h2counter;
  counter-reset: h3counter;
}

h3 {
  font-size:1.1em;
  padding-bottom:0em;
  counter-increment: h3counter;
  counter-reset: h4counter;
}

h4 {
  font-size:1.0em;
  padding-bottom:0em;
  counter-increment: h4counter;
}

dt {
  padding:0.2em;
  font-weight:bold;
}

p,dl,ul,ol,dd,li,table {
  padding:0.1em;
  margin-left:1.25em;
  line-height:1.2em;
}

ul {
  list-style-type:square;
}

pre.cli {
  padding:0.4em;
  margin-left:2em;
  line-height:1.3em;
  width:95%;
  border:1px #404040 dotted;
}

pre.cfg {
  padding:0.4em;
  margin-left:2em;
  line-height:1.3em;
  width:95%;
  border:1px #404040 dotted;
}

table ul {
  padding:0.1em;
}

th {
  margin:0.3em;
  padding:0.3em;
  background-color:#f8f8f8;
  border-bottom:1px #404040 solid;
}

td {
  margin:0.3em;
  padding:0.3em;
  border-bottom:1px #404040 solid;
}

iframe {
  padding:0.75em;
  float:none;
  width:90%;
  height:50em;
}

img {
  padding:2%;
  margin:2%;
  max-width:40%;
  max-height:180px;
  border:1px #202020 solid;
}

/*
img:hover {
  position:fixed;
  display:block;
  top:5%;
  left:5%;
  max-height:80%;
  max-width:80%;
  background-color:#ffffff;
  border:10px solid #f8f8f8;
}
*/

a {
  text-decoration:underline;
  color:#9f0000;
}

a:visited {
}

a:hover {
  color:#f7a51b;
}

a:active {
  color:#f7a51b;
}

.float-none {
  float:none;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

@media all and (min-width:400px) and (min-height:600px) {

  html>body #navigation {
    position:fixed;
  }

  #content {
    width:90%;
    margin-top:2.5em;
    padding:1.5em;
  }

}

kbd.return {
  font-weight:bold;
  font-size:1.7em;
}

span.web2ldap-internal-link {
  text-align:center;
  color:#c81f2a;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

span.web2ldap-external-link {
  text-align:center;
  padding:0.2em;
  color:#3385a7;
  text-decoration:none;
  font-weight:bold;
}

span.web2ldap-menu-button {
  font-weight:bold;
  border:none;
  padding:0.1em;
  color:#ffffff;
  background-color:transparent;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  background-color:#a80a1a;
  background-repeat:no-repeat;
}

span.web2ldap-dit-navigation {
  padding:0.1em;
  color:#ffffff;
  background-color:#202020;
  background-repeat:no-repeat;
}

button.web2ldap-submit-button {
  font-size:0.92em;
  background-color:#d8d8d8;
  border:3px solid #cccccc;
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
}

span.web2ldap-msg-success {
  font-weight:normal;
  padding:0.1em;
  border: 1px solid #e0e0e0;
}

span.web2ldap-msg-warning {
  font-weight:bold;
  padding:0.1em;
  border: 3px solid #a0a0a0;
}

span.web2ldap-msg-error {
  font-weight:bold;
  padding:0.1em;
  border: 3px solid #c81f2a;
}

.thumbnail {
  max-width: 40%;
}

figcaption {
  margin:0;
  padding:0;
  font-size: 70%;
  text-align: middle;
}

figure.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
  margin: 0;
	background: rgba(255,255,255,0.9);
}

figure.lightbox img {
	max-width: 90%;
	max-height: 85%;
	margin-top: 2%;
  background-color: #ffffff;
}

.lightbox:target {
	outline: none;
	display: block;
}
