$def with ()
$var title: Password Self Service

<div id="content">

<h1>Overview</h1>

<ul>
  <li>
    <a href="changepw">Change own password</a>
    (see <a href="/pwd.html#changepw">user-guide</a>)
  </li>
  <li>
    <a href="checkpw">Check own password</a>
    (see <a href="/pwd.html#checkpw">user-guide</a>)
  </li>
</ul>

<p>
  If you forgot your old password or you need initial password for a new
  account there is a two-step password reset process
  (see <a href="/pwd.html#reset-procedure">user-guide</a>):
</p>

<ol>
  <li>
    <a href="requestpw">Request password reset</a><br>
    (you will be sent a new temporary password)
  </li>
  <li>
    <a href="resetpw">Finish password reset</a><br>
    (temporary password has been received before)
  </li>
</ol>

</div>
