#-----------------------------------------------------------------------
# initiate:   systemctl enable web2ldap.service
# start:      systemctl start web2ldap.service
# get status: systemctl status web2ldap.service
#
# {{ ansible_managed }}
#-----------------------------------------------------------------------

[Unit]
Description=web2ldap
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
{% if aedir_malloc_ld_preload %}
Environment=LD_PRELOAD={{ aedir_malloc_ld_preload }}
{% endif %}
Environment=LDAPNOINIT=1
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart={{ uwsgi_paths[lsb_id].exec }} --strict --ini {{ aedir_etc }}/uwsgi/web2ldap.ini
User={{ web2ldap_user }}
Group={{ web2ldap_group }}
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
# various hardening options
{% for systemd_option in aedir_systemd_hardening %}
{{ systemd_option }}
{% endfor %}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% if apparmor_enabled %}
AppArmorProfile=web2ldap
{% endif %}

[Install]
WantedBy=multi-user.target
